table, th, td, tr {
	width: 100%;
    
    border-collapse: collapse;
}

th,td, tr{
	padding:6px; 
	border:1px;
	color: #142E25;
	

}



h3{
	color: #008080;
}

th{

	border-top: 2px solid #008080;

}

.grayfont{
	color: gray;
}
